In [1]:
import msoffcrypto
import io
import pandas as pd
from pyxlsb import open_workbook
import os
import numpy as np
import calendar

C:\Users\Neil\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Define the folder path
folder_path = "C:/Users/Neil/OneDrive/Documents/Capstone Files/merged_car"

# List all CSV files in the folder
file_list = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

# Initialize an empty list to store DataFrames
df_list = []

# Read each CSV file and store in df_list
for file in file_list:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)  # Read the CSV file
    df_list.append(df)
    print(f"Loaded: {file}")  # Print each loaded file

# Check if any files were found
if not df_list:
    print("No CSV files found in the folder.")
else:
    print(f"Successfully loaded {len(df_list)} files.")

Loaded: merged_car_1.csv
Loaded: merged_car_2.csv
Loaded: merged_car_3.csv
Successfully loaded 3 files.

In [3]:
merged_df = df_list[0]
    
    # Merge all DataFrames in the list using an outer join
for df in df_list[1:]:
        merged_df = pd.merge(merged_df, df, on="ILS_ACCT_NUM", how="outer")

    # Print the merged DataFrame
print(merged_df)

           ILS_ACCT_NUM  DEL1 JAN 2015  Worst_Del JAN 2015  DEL1 FEB 2015  \
0       200001000022100            1.0                 1.0            1.0
1       200001000022115            1.0                 1.0            1.0
2       200001000022121            1.0                 1.0            1.0
3       200001000022148            1.0                 1.0            1.0
4       200001000022154            1.0                 1.0            1.0
...                 ...            ...                 ...            ...
180027  229999009965871            NaN                 NaN            NaN
180028  229999009987264            NaN                 NaN            NaN
180029  229999009987903            NaN                 NaN            NaN
180030  229999009987936            NaN                 NaN            NaN
180031  229999009994411            NaN                 NaN            NaN

        Worst_Del FEB 2015  DEL1 MAR 2015  Worst_Del MAR 2015  DEL1 APR 2015  \
0                      1.0            1.0                 1.0            1.0
1                      1.0            1.0                 1.0            1.0
2                      1.0            1.0                 1.0            1.0
3                      1.0            1.0                 1.0            1.0
4                      1.0            1.0                 1.0            1.0
...                    ...            ...                 ...            ...
180027                 NaN            NaN                 NaN            NaN
180028                 NaN            NaN                 NaN            NaN
180029                 NaN            NaN                 NaN            NaN
180030                 NaN            NaN                 NaN            NaN
180031                 NaN            NaN                 NaN            NaN

        Worst_Del APR 2015  DEL1 MAY 2015  ...  DEL1 AUG 2024  \
0                      1.0            1.0  ...            1.0
1                      1.0            1.0  ...            1.0
2                      1.0            1.0  ...            1.0
3                      1.0            1.0  ...            1.0
4                      1.0            1.0  ...            1.0
...                    ...            ...  ...            ...
180027                 NaN            NaN  ...            0.0
180028                 NaN            NaN  ...           10.0
180029                 NaN            NaN  ...            7.0
180030                 NaN            NaN  ...           28.0
180031                 NaN            NaN  ...            0.0

        Worst_Del AUG 2024  DEL1 SEP 2024  Worst_Del SEP 2024  DEL1 OCT 2024  \
0                      1.0            1.0                 1.0            1.0
1                      1.0            1.0                 1.0            1.0
2                      1.0            1.0                 1.0            1.0
3                      1.0            1.0                 1.0            1.0
4                      1.0            1.0                 1.0            1.0
...                    ...            ...                 ...            ...
180027                 0.0            0.0                 0.0            0.0
180028                 2.0           10.0                 2.0           10.0
180029                 3.0            7.0                 3.0            7.0
180030                 3.0           28.0                 3.0           28.0
180031                 0.0            0.0                 0.0            0.0

        Worst_Del OCT 2024  DEL1 NOV 2024  Worst_Del NOV 2024  DEL1 DEC 2024  \
0                      1.0            1.0                 1.0            1.0
1                      1.0            1.0                 1.0            1.0
2                      1.0            1.0                 1.0            1.0
3                      1.0            1.0                 1.0            1.0
4                      1.0            1.0                 1.0            1.0
...                    ...            ...                 ...            ...
180027                 0.0            0.0                 0.0            0.0
180028                 2.0           10.0                 2.0           10.0
180029                 3.0            7.0                 3.0            7.0
180030                 3.0           28.0                 3.0           28.0
180031                 0.0            0.0                 0.0            0.0

        Worst_Del DEC 2024
0                        1
1                        1
2                        1
3                        1
4                        1
...                    ...
180027                   0
180028                   2
180029                   3
180030                   3
180031                   0

[180032 rows x 241 columns]

In [4]:
file_path = 'C:/Users/Neil/OneDrive/Documents/Capstone Files/Extracted Datasets/CAR/2024/12 ILS CAR DEC 2024.xlsb'
password = "CRQAD_amf_2025!"

# Decrypt the file
decrypted = io.BytesIO()
with open(file_path, "rb") as f:
    office_file = msoffcrypto.OfficeFile(f)
    office_file.load_key(password=password)
    office_file.decrypt(decrypted)

# Read the decrypted `.xlsb` file
decrypted.seek(0)  # Reset pointer before reading

data = []
with open_workbook(decrypted) as wb:
    sheet_name = list(wb.sheets)[0]  # Get the first sheet name
    print(f"Opening Sheet: {sheet_name}")

    # Read sheet data
    with wb.get_sheet(sheet_name) as sheet:
        for row in sheet.rows():
            data.append([item.v for item in row])

# Convert to DataFrame
df = pd.DataFrame(data)
df.columns = df.iloc[0]  # Assign first row as column names
df = df[1:].reset_index(drop=True)  # Remove the first row from data

# Display first few rows
print(df.head())

Opening Sheet: Sheet1
0 APPRAISAL_DATE APPRAISAL_RATE APPRAISAL_VALUE   BOOK_DATE BOOK_VALUE  \
0           None            0.0             0.0  03/21/2002        0.0
1           None            0.0             0.0  03/21/2002        0.0
2           None            0.0             0.0  10/25/2002        0.0
3           None            0.0             0.0  02/19/2003        0.0
4           None            0.0             0.0  05/15/2003        0.0

0                CAR_DESCRIPTION CAR_MANUFACTURER CAR_MODEL  CLOSE_DATE  \
0         2002 CHEVROLET VENTURE             10.0    2002.0  06/21/2004
1          2002 TOYOTA ALTIS 1.6              9.0    2002.0  06/21/2005
2  2002 ISUZU HILANDER WAGON XUV             12.0    2002.0  09/15/2006
3          2003 ISUSU TROOPER AT             12.0    2003.0  01/10/2006
4         2003 TOYOTA COROLLA MT              9.0    2003.0  03/20/2007

0 COLLATERAL_CONDITION  ... NTC_PROC_FEE NTC_AMT    RM_NO CLNT_TYPE  \
0                 None  ...          0.0     0.0  8592122         P
1                 None  ...          0.0     0.0  2907241         P
2                 None  ...          0.0     0.0  1472266         C
3                 None  ...          0.0     0.0  8539877         P
4                 None  ...          0.0     0.0  7210719         P

0 Total Interest Payment Total Principal Payment ADJ_DELQ_AGE_ACTUAL    PD  \
0            235522.1401             489033.8599                None  None
1            178939.0616             497860.9384                None  None
2               175841.0                614383.0                None  None
3            187748.9999             934047.0001                None  None
4            123817.6379             395889.0421                None  None

0 OUTSTANDING_BAL_edited      CAR_BRAND
0                    0.0  IMPORTED CARS
1                    0.0         TOYOTA
2                    0.0          ISUZU
3                    0.0          ISUZU
4                    0.0         TOYOTA

[5 rows x 79 columns]

In [5]:
df

,APPRAISAL_DATE,APPRAISAL_RATE,APPRAISAL_VALUE,BOOK_DATE,BOOK_VALUE,CAR_DESCRIPTION,CAR_MANUFACTURER,CAR_MODEL,CLOSE_DATE,COLLATERAL_CONDITION,...,NTC_PROC_FEE,NTC_AMT,RM_NO,CLNT_TYPE,Total Interest Payment,Total Principal Payment,ADJ_DELQ_AGE_ACTUAL,PD,OUTSTANDING_BAL_edited,CAR_BRAND
0,None,0.0,0.0,03/21/2002,0.0,2002 CHEVROLET VENTURE,10.0,2002.0,06/21/2004,None,...,0.0,0.0,8592122,P,235522.1401,489033.8599,None,None,0.0,IMPORTED CARS
1,None,0.0,0.0,03/21/2002,0.0,2002 TOYOTA ALTIS 1.6,9.0,2002.0,06/21/2005,None,...,0.0,0.0,2907241,P,178939.0616,497860.9384,None,None,0.0,TOYOTA
2,None,0.0,0.0,10/25/2002,0.0,2002 ISUZU HILANDER WAGON XUV,12.0,2002.0,09/15/2006,None,...,0.0,0.0,1472266,C,175841.0,614383.0,None,None,0.0,ISUZU
3,None,0.0,0.0,02/19/2003,0.0,2003 ISUSU TROOPER AT,12.0,2003.0,01/10/2006,None,...,0.0,0.0,8539877,P,187748.9999,934047.0001,None,None,0.0,ISUZU
4,None,0.0,0.0,05/15/2003,0.0,2003 TOYOTA COROLLA MT,9.0,2003.0,03/20/2007,None,...,0.0,0.0,7210719,P,123817.6379,395889.0421,None,None,0.0,TOYOTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180027,07/18/2023,100.0,1338000.0,08/01/2023,799852.44,TOYOTA INNOVA 2.8 V A/T WP - DP-020,9.0,2023.0,None,None,...,None,0.0,25871629,C,146717.27,666622.99,0.0,0.0,799852.44,TOYOTA
180028,02/24/2024,100.0,1049500.0,03/08/2024,636580.92,TERRA 2.5 SPORT AT 4X2,8.0,2024.0,None,None,...,None,0.0,23829670,C,68856.92,412919.08,0.0,0.0,636580.92,NISSAN
180029,04/21/2022,100.0,982500.0,04/21/2022,97457.87,TOYOTA INNOVA 2.8 E DIESEL AT - DS-016,9.0,2022.0,None,None,...,None,0.0,2203481,P,133035.31,950542.13,0.0,0.0,97457.87,TOYOTA
180030,09/20/2022,100.0,2425000.0,09/20/2022,0.0,MAZDA CX-5 2.5L AWD TURBO A/T,6.0,2022.0,08/20/2024,None,...,None,0.0,6027762,P,80711.73,1000000.0,None,None,0.0,MAZDA
180031,03/17/2020,100.0,89010.0,09/08/2022,0.0,HILUX 2.8L 4X4 CONQUEST AT - R7-012,9.0,2020.0,05/17/2023,None,...,None,0.0,7591743,P,9161.06,343345.8,None,None,0.0,TOYOTA

In [6]:
key_column = "ILS_ACCT_NUM"

# Convert key column to string in both DataFrames
merged_df[key_column] = merged_df[key_column].astype(str)
df[key_column] = df[key_column].astype(str)

# Extract required columns
book_date_df = df[[key_column, "ORIG_BOOK_DATE", "MATURITY", "PRODUCT_TYPE"]]

# Merge, ensuring new columns come first
merged_df = pd.merge(book_date_df, merged_df, on=key_column, how="left")

print(merged_df.dtypes)  # Check data types to confirm
print(merged_df.head())  # Verify output

ILS_ACCT_NUM           object
ORIG_BOOK_DATE         object
MATURITY               object
PRODUCT_TYPE           object
DEL1 JAN 2015         float64
                       ...
Worst_Del OCT 2024    float64
DEL1 NOV 2024         float64
Worst_Del NOV 2024    float64
DEL1 DEC 2024         float64
Worst_Del DEC 2024      int64
Length: 244, dtype: object
      ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY PRODUCT_TYPE  DEL1 JAN 2015  \
0  200002000022063     03/21/2002  02/12/2006        100.0            2.0
1  200002000022032     03/21/2002  02/18/2006        100.0            4.0
2  200002000022206     10/25/2002  09/15/2006        100.0           10.0
3  200002000022220     02/19/2003  01/05/2006        100.0            3.0
4  200002000022283     05/15/2003  03/15/2007        100.0            4.0

   Worst_Del JAN 2015  DEL1 FEB 2015  Worst_Del FEB 2015  DEL1 MAR 2015  \
0                 1.0            2.0                 1.0            2.0
1                 1.0            4.0                 1.0            4.0
2                 1.0           10.0                 1.0           10.0
3                 1.0            3.0                 1.0            3.0
4                 1.0            4.0                 1.0            4.0

   Worst_Del MAR 2015  ...  DEL1 AUG 2024  Worst_Del AUG 2024  DEL1 SEP 2024  \
0                 1.0  ...            2.0                 1.0            2.0
1                 1.0  ...            4.0                 1.0            4.0
2                 1.0  ...           10.0                 1.0           10.0
3                 1.0  ...            3.0                 1.0            3.0
4                 1.0  ...            4.0                 1.0            4.0

   Worst_Del SEP 2024  DEL1 OCT 2024  Worst_Del OCT 2024  DEL1 NOV 2024  \
0                 1.0            2.0                 1.0            2.0
1                 1.0            4.0                 1.0            4.0
2                 1.0           10.0                 1.0           10.0
3                 1.0            3.0                 1.0            3.0
4                 1.0            4.0                 1.0            4.0

   Worst_Del NOV 2024  DEL1 DEC 2024  Worst_Del DEC 2024
0                 1.0            2.0                   1
1                 1.0            4.0                   1
2                 1.0           10.0                   1
3                 1.0            3.0                   1
4                 1.0            4.0                   1

[5 rows x 244 columns]

In [7]:
merged_df.to_csv("ILS_car_final.csv", index=False)

In [8]:
print(merged_df.head(100))

       ILS_ACCT_NUM ORIG_BOOK_DATE    MATURITY PRODUCT_TYPE  DEL1 JAN 2015  \
0   200002000022063     03/21/2002  02/12/2006        100.0            2.0
1   200002000022032     03/21/2002  02/18/2006        100.0            4.0
2   200002000022206     10/25/2002  09/15/2006        100.0           10.0
3   200002000022220     02/19/2003  01/05/2006        100.0            3.0
4   200002000022283     05/15/2003  03/15/2007        100.0            4.0
..              ...            ...         ...          ...            ...
95  200002000450570     04/20/2011  03/20/2016        100.0            1.0
96  200002000434446     06/30/2011  05/30/2015        100.0            0.0
97  200002000445173     07/11/2011  06/11/2016        100.0            0.0
98  200002000445593     07/11/2011  06/11/2016        100.0            3.0
99  200002002025630     08/17/2011  07/17/2016        100.0            0.0

    Worst_Del JAN 2015  DEL1 FEB 2015  Worst_Del FEB 2015  DEL1 MAR 2015  \
0                  1.0            2.0                 1.0            2.0
1                  1.0            4.0                 1.0            4.0
2                  1.0           10.0                 1.0           10.0
3                  1.0            3.0                 1.0            3.0
4                  1.0            4.0                 1.0            4.0
..                 ...            ...                 ...            ...
95                 1.0            1.0                 1.0            1.0
96                 0.0            1.0                 1.0            0.0
97                 0.0            0.0                 0.0            0.0
98                 1.0            3.0                 1.0            3.0
99                 0.0            0.0                 0.0            0.0

    Worst_Del MAR 2015  ...  DEL1 AUG 2024  Worst_Del AUG 2024  DEL1 SEP 2024  \
0                  1.0  ...            2.0                 1.0            2.0
1                  1.0  ...            4.0                 1.0            4.0
2                  1.0  ...           10.0                 1.0           10.0
3                  1.0  ...            3.0                 1.0            3.0
4                  1.0  ...            4.0                 1.0            4.0
..                 ...  ...            ...                 ...            ...
95                 1.0  ...            1.0                 1.0            1.0
96                 0.0  ...            0.0                 0.0            0.0
97                 0.0  ...            0.0                 0.0            0.0
98                 1.0  ...            3.0                 1.0            3.0
99                 0.0  ...            0.0                 0.0            0.0

    Worst_Del SEP 2024  DEL1 OCT 2024  Worst_Del OCT 2024  DEL1 NOV 2024  \
0                  1.0            2.0                 1.0            2.0
1                  1.0            4.0                 1.0            4.0
2                  1.0           10.0                 1.0           10.0
3                  1.0            3.0                 1.0            3.0
4                  1.0            4.0                 1.0            4.0
..                 ...            ...                 ...            ...
95                 1.0            1.0                 1.0            1.0
96                 0.0            0.0                 0.0            0.0
97                 0.0            0.0                 0.0            0.0
98                 1.0            3.0                 1.0            3.0
99                 0.0            0.0                 0.0            0.0

    Worst_Del NOV 2024  DEL1 DEC 2024  Worst_Del DEC 2024
0                  1.0            2.0                   1
1                  1.0            4.0                   1
2                  1.0           10.0                   1
3                  1.0            3.0                   1
4                  1.0            4.0                   1
..                 ...            ...                 ...
95                 1.0            1.0                   1
96                 0.0            0.0                   0
97                 0.0            0.0                   0
98                 1.0            3.0                   1
99                 0.0            0.0                   0

[100 rows x 244 columns]